.pagination a{
  padding: 6px 16px;
  border-radius: 5px;
   border: 1px solid #ddd; /* Gray */
}
.pagination b {
    background-color: #4CAF50 !important;
    padding: 8px 16px;
    color: white;
    border-radius: 5px;
}